<%= render partial: "shared/banner"%>
<div class="container mb-3">
<h2>search bar</h2>

<%= render partial: "shared/map"%>
</div>




<%# <div class="container cards">
  <% @trips.each do |trip| %>
    <%#= render partial: 'card', locals: {trip: trip} %>
  <%# end %>
 <%# </div> %>
