<div class="container">
  <div class="row justify-content-center height-nav">
<h1>What will be your next adventure ?</h1>
<%= render partial: "shared/map" %>
</div>
</div>


<%# <div class="container cards">
  <% @trips.each do |trip| %>
    <%#= render partial: 'card', locals: {trip: trip} %>
  <%# end %>
 <%# </div> %>
