<%= render partial: "shared/banner"%>
<div class="container mb-3 p-3">
 <%= render partial: "shared/searchbar"%>
<%= render partial: "shared/map"%>

</div>





<%# <div class="container cards">
  <% @trips.each do |trip| %>
    <%#= render partial: 'card', locals: {trip: trip} %>
  <%# end %>
 <%# </div> %>
