<div class="container">
<h1>What will be your next adventure ?</h1>
<%= render partial: "shared/map"%>
</div>


<%# <div class="container cards">
  <% @trips.each do |trip| %>
    <%#= render partial: 'card', locals: {trip: trip} %>
  <%# end %>
 <%# </div> %>
