<h1>Paye batard</h1>

<div class="p-3">
  <%= simple_form_for [@trip, @booking] do |f| %>
    <div class="form-inputs">
      <%= f.input :number_of_people %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
