<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fab fa-instagram" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fab fa-facebook" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fab fa-twitter" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fab fa-linkedin" style="color: #ffffff;"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
