<div class="footer">
  <div class="footer-links">
    <a href="#">Contact</a>
    <a href="#">About us</a>
  </div>
  <div class="footer-copyright">
    All rights reserved © 2023 - BlaBlaBoat
  </div>
</div>
