<div class="footer">
  <div class="footer-links">
    <a href="#">Contact</a>
    <a href="#">À propos</a>
  </div>
  <div class="footer-copyright">
    Tous droits reservés. 2023 - BlaBlaBoat
  </div>
</div>
