
<h1>Book your trip now</h1>

<div class="d-flex mt-2 mb-4 align-items-center">
  <p class="card-text"><i class="fa-solid fa-euro-sign me-1"></i><strong>Price per seat:</strong> <%= @trip.price %></p>
</div>


 <div data-controller="alert">
   <%= simple_form_for [@trip, @pre_booking] do |f| %>
      <div class="form-inputs">
        <%= f.input :number_of_people, required: true %>
      </div>
      <div class="form-actions">
        <%= f.submit, class: "btn btn-primary"  %>
      </div>
    <% end %>
 </div>
