<div class="row justify-content-center">
  <div class="col-lg-6 mb-3">
    <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Where do you want to leave from"
            %>
      <%= number_field_tag :distance,
            params[:distance],
            class: "form-control",
            style: "width: 120px",
            placeholder: "Distance"
            %>
      <%= submit_tag "Search", name: "", class: "btn-blue" %>
    <% end %>
  </div>
</div>
