<div class="container">
<h1>Hello <%= current_user.first_name %></h1>
<h3>Your reservations are : </h3>
<div class="cards">
<% @bookings.each do |booking|%>
<%= render partial: "shared/card", locals: { trip: booking.trip, path: booking_path(booking) } %>
<% end %>
</div>
<h3>Your trips are : </h3>
<div class="cards">
<% @trips.each do |trip|%>
<%= render partial: "shared/card", locals: { trip: trip, path: trip_path(trip) } %>
<% end %>
</div>
</div>
