<div class="container">
<h1>Hello <%= current_user.first_name %></h1>
<h3>Your reservations are : </h3>
<div class="col">
<% @bookings.each do |booking|%>
<%= render partial: "shared/card", locals: { trip: booking.trip, path: booking_path(booking), name: "Cancel", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} } %>
<% end %>
</div>
<h3>Your trips are : </h3>
<div class="row">
<% @trips.each do |trip|%>
  <div class="col-4">
    <%= render partial: "shared/card", locals: { trip: trip, path: trip_path(trip), name: "Cancel", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} } %>
  </div>
      <div class="col-8">
      <div class="trip-card-index">
    <% trip.bookings.each do |booking|%>
      <% if booking.pending? %>
        <%= render partial: "shared/change_booking_status", locals: { booking: booking } %>
      <% end %>
    <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

</div>
