.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-large {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.avatar-bordered {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.square {
  width: 80px;
  height: 80px;
  position: relative;
}

.number-of-guests {
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid #0f2c59;
position: absolute;
top: 0px;
right: -10px;
color: #0f2c59;
font-weight: bold;
font-size: 14px;
}

.name-close {
position: absolute;
left: 30px;
font-style: italic;
}
