.footer {
  background: #EADBC8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
  color: #0f2c59;
}
.footer-links a {
  color: #0f2c59;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.a {
  color: #0f2c59;
}
