.navbar-lewagon {
  justify-content: space-between;
  background: #aedadd;
  color: #0f2c59;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  background-color: #0f2c59;
  padding: 8px;
  border-radius: 50%;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  color: #0f2c59;
}

.nav-link {
  color: #0f2c59;
}

a.navbar-brand {
  display: flex;
  color: #0f2c59;
  font-size: 36px;
  font-family: 'Caveat', cursive;
  font-weight: bolder;
  align-items: center;
}
