.form-control {
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}


.btn-blue {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color:  #0f2c59;
  color: whitesmoke;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid;
}

.btn-blue:hover {
  background-color: #AFDADD;
}
