.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.trip-card-index {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-body {
  margin: 15px;
}

.trip-card-show {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  width: 500px;
  height: 700px;
  position: relative;
}

.trip-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.trip-photo-index {
  width: 100%;
  height: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.trip-photo-show {
  width: 100%;
  height: 280px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.trip-details {
  margin-bottom: 10px;
}

.trip-actions {
  text-align: right;
}

.next-step {
position: absolute;
bottom: 0;
right: 0;
margin: 10px;
}

.map-captain-container {
display: grid;
width: 700px;
margin-bottom: 30px;
}

.small-image {
  height: 120px;
  width: 120px;
}

.margin-auto {
  margin: auto;
}

.booking-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  width: 500px;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  right: 0px;
}
